<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Album</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1> Band and album</h1>
    <table class="Treatment-table">
    <tr>
        <th>ID</th>
        <th>BandID</th>
        
        <th>AlbumID</th>
        
        
        
    </tr>
    <tr>
        
        <td><%= Bandalbum.bandID %></td>
        
        <td><%= Bandalbum.albumID %></td>
        
        
        
    </tr>
</table>
<div class="link-center">
    <a href="/updatebandalbum/<%= Bandalbum.ID %>">Edit</a>
    <a href="/updatebandalbum/<%= Bandalbum.ID %>">Delete</a>
    <a href="/">Back to List</a>
</div>
</body>
</html>