<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Album</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<body>
    
    <h1>Create Band and Album</h1>
    <form method="post" action="/createbandalbum" style="background-color: #a1a1a134;">
        <label for="bandID">BandID</label>
        <input type="text" id="bandID" name="bandID">
        <br>
        <label for="albumID">AlbumID</label>
        <input type="text" id="albumID" name="albumID">
        <br>
        <input type="submit" value="Create">
    </form>
    <div class="middle">
    <a href="/">Back to List</a>
    </div>
</body>

</html>